{% extends 'components/dashboard.twig' %}

{% block head %}
	<link rel="stylesheet" href="/assets/vendor/css/pages/page-profile.css">
{% endblock %}
{% block dashboard %}
	<div class="row">
		<div class="col-12">
			<div class="card mb-6">
				<div class="user-profile-header-banner">
					<img src="{{other_user(other_user_uuid,'background',false) }}" alt="Banner image" class="rounded-top">
				</div>
				<div class="user-profile-header d-flex flex-column flex-lg-row text-sm-start text-center mb-5">
					<div class="flex-shrink-0 mt-n2 mx-sm-0 mx-auto">
						<img src="{{other_user(other_user_uuid,'avatar',false)}}" alt="user image" class="d-block h-auto ms-0 ms-sm-6 rounded user-profile-img">
					</div>
					<div class="flex-grow-1 mt-3 mt-lg-5">
						<div class="d-flex align-items-md-end align-items-sm-start align-items-center justify-content-md-between justify-content-start mx-5 flex-md-row flex-column gap-4">
							<div class="user-profile-info">
								<h4 class="mb-2 mt-lg-6">{{other_user(other_user_uuid,'username',false)}}</h4>
								<ul class="list-inline mb-0 d-flex align-items-center flex-wrap justify-content-sm-start justify-content-center gap-4 my-2">
									<li class="list-inline-item d-flex gap-2 align-items-center">
										<i class="ti ti-palette ti-lg"></i>
										<span class="fw-medium">{{other_user_role}}</span>
									</li>
									<li class="list-inline-item d-flex gap-2 align-items-center">
										<i class="ti ti-heart ti-lg"></i>
										<span class="fw-medium">
											Likes:
											<code>{{other_user_likes}}</code>
										</span>
									</li>
									<li class="list-inline-item d-flex gap-2 align-items-center">
										<i class="ti ti-users ti-lg"></i>
										<span class="fw-medium">
											Friends:
											<code>1</code>
										</span>
									</li>
								</ul>
							</div>
							<div class="user-profile-actions">
                                {% if has_liked %}
                                    <a href="/user/{{other_user_uuid}}/dislike" class="btn btn-secondary mb-1 waves-effect waves-light"><i class="ti ti-thumb-down ti-xs me-2"></i>Dislike</a>
                                {% else %}
                                    <a href="/user/{{other_user_uuid}}/like" class="btn btn-secondary mb-1 waves-effect waves-light"><i class="ti ti-thumb-up ti-xs me-2"></i>Like</a>
                                {% endif %}

								<!--<a href="javascript:void(0)" class="btn btn-primary mb-1 waves-effect waves-light"><i class="ti ti-user-check ti-xs me-2"></i>Friends</a>
								<a href="javascript:void(0)" class="btn btn-info mb-1 waves-effect waves-light"><i class="ti ti-message ti-xs me-2"></i>Message</a>
								<a href="javascript:void(0)" class="btn btn-primary mb-1 waves-effect waves-light"><i class="ti ti-user-plus ti-xs me-2"></i>Add Friend</a>-->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>{% endblock %}
