{% extends 'components/dashboard.twig' %}

{% block head %}{% endblock %}

{% block dashboard %}
	<div class="card">
		<div class="card-datatable table-responsive pt-0">
			<div class="card-header">
				<h3 class="card-title">{{ lang('Pages.AdminArea.Pages.Plugins.List.Title') }}</h3>
				<p class="card-subtitle text-muted">{{ lang('Pages.AdminArea.Pages.Plugins.List.Description') }}</p>
			</div>
			<div class="card-header">
				<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#uploadPluginModal">
					{{ lang('Pages.AdminArea.Pages.Plugins.List.UploadButton') }}
				</button>
			</div>

			<div class="modal fade" id="uploadPluginModal" tabindex="-1" aria-hidden="true">
				<div class="modal-dialog modal-lg modal-simple modal-dialog-centered">
					<div class="modal-content">
						<div class="modal-body">
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							<div class="text-center mb-4">
								<h4 class="mb-2">{{ lang('Pages.AdminArea.Pages.Plugins.List.UploadModal.Title') }}</h4>
								<p>{{ lang('Pages.AdminArea.Pages.Plugins.List.UploadModal.Description.First') }}</p>
								<p>{{ lang('Pages.AdminArea.Pages.Plugins.List.UploadModal.Description.Secound') }}</p>
								<p>{{ lang('Pages.AdminArea.Pages.Plugins.List.UploadModal.Description.Third') }}</p>
								<p>{{ lang('Pages.AdminArea.Pages.Plugins.List.UploadModal.Description.Forth') }}</p>								
							</div>
							<form action="/admin/plugins/upload" method="post" enctype="multipart/form-data">
								<div class="mb-3">
									<label for="pluginFile" class="form-label">{{ lang('Pages.AdminArea.Pages.Plugins.List.UploadModal.FileLabel') }}</label>
									<input type="file" class="form-control" id="pluginFile" name="pluginFile" accept=".mfa" required>
								</div>
								<div class="text-center">
									<button type="submit" class="btn btn-primary">{{ lang('Pages.AdminArea.Pages.Plugins.List.UploadModal.Submit') }}</button>
									<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ lang('Pages.AdminArea.Pages.Plugins.List.UploadModal.Cancel') }}</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<table class="datatables-basic table">
				<thead>
					<tr>
						<th>{{ lang('Pages.AdminArea.Pages.Plugins.List.Table.Head.Columns.ID') }}</th>
						<th>{{ lang('Pages.AdminArea.Pages.Plugins.List.Table.Head.Columns.Name') }}</th>
						<th>{{ lang('Pages.AdminArea.Pages.Plugins.List.Table.Head.Columns.Stability') }}</th>
						<th>{{ lang('Pages.AdminArea.Pages.Plugins.List.Table.Head.Columns.Authors') }}</th>
						<th>{{ lang('Pages.AdminArea.Pages.Plugins.List.Table.Head.Columns.Enabled') }}</th>
						<th>{{ lang('Pages.AdminArea.Pages.Plugins.List.Table.Head.Columns.Actions') }}</th>
					</tr>
				</thead>
				<tbody>
					{% for plugin in plugins %}
						<tr>
							<td>{{plugin.id }}</td>
							<td><img src="{% if plugin.logo is defined and plugin.logo is not null and plugin.logo is not empty %}{{ plugin.logo }}{% else %}{{ setting('app', 'logo') }}{% endif %}" alt="{{ plugin.name }} logo" width="64" height="64">&nbsp;&nbsp;&nbsp;<code>{{ plugin.name }}</code>
							</td>
							<td>{{ plugin.stability }}</td>
							<td>{{ plugin.authors }}</td>
							<td>{{ plugin.enabled }}</td>
							<td>
								<button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#modal-{{ plugin.id }}">
									<i class="fas fa-info"></i>
								</button>
								{% if plugin.enabled == "true" %}
									<button onclick="requireConfirmation('/admin/plugins/{{ plugin.id }}/disable')" class="btn btn-sm btn-danger">{{ lang('Pages.AdminArea.Pages.Plugins.List.Table.Head.Actions.Disable') }}</button>
								{% else %}
									<button onclick="requireConfirmation('/admin/plugins/{{ plugin.id }}/enable')" class="btn btn-sm btn-primary">{{ lang('Pages.AdminArea.Pages.Plugins.List.Table.Head.Actions.Enable') }}</button>
									<button onclick="requireConfirmation('/admin/plugins/{{ plugin.id }}/delete')" class="btn btn-sm btn-danger">{{ lang('Pages.AdminArea.Pages.Plugins.List.Table.Head.Actions.Delete') }}</button>
								{% endif %}

							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	{% for plugin in plugins %}
		<div class="modal fade" id="modal-{{ plugin.id }}" tabindex="-1" aria-hidden="true">
			<div class="modal-dialog modal-lg modal-simple modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-body">
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						<div class="text-center mb-4">
							<img src="{% if plugin.logo is defined and plugin.logo is not null and plugin.logo is not empty %}{{ plugin.logo }}{% else %}{{ setting('app', 'logo') }}{% endif %}" alt="{{ plugin.name }} logo" width="128" height="128">
							<h4 class="mb-2">{{ plugin.name }}
								(<code>{{plugin.version }}</code>)</h4>
							<p>{{ plugin.description }}</p>
						</div>
						<div class="mb-3">
							<label class="form-label">{{ lang('Pages.AdminArea.Pages.Plugins.List.Info.Stability') }}</label>
							<p>
								<code>{{ plugin.stability }}</code>
							</p>
						</div>
						<div class="mb-3">
							<label class="form-label">{{ lang('Pages.AdminArea.Pages.Plugins.List.Info.Requirements') }}</label>
							<p>
								<code>{{ plugin.require }}</code>
							</p>
						</div>
						<div class="mb-3">
							<label class="form-label">{{ lang('Pages.AdminArea.Pages.Plugins.List.Info.License') }}</label>
							<p>
								<code>{{ plugin.license }}</code>
							</p>
						</div>
						<div class="mb-3">
							<label class="form-label">{{ lang('Pages.AdminArea.Pages.Plugins.List.Info.Authors') }}</label>
							<p>
								<code>{{ plugin.authors }}</code>
							</p>
						</div>
						<div class="text-center">
							{% if plugin.homepage is defined and plugin.homepage is not null and plugin.homepage is not empty %}
								<a href="{{ plugin.homepage }}" class="btn btn-primary">{{ lang('Pages.AdminArea.Pages.Plugins.List.Info.Extends.HomePage') }}</a>
							{% endif %}
							{% if plugin.support is defined and plugin.support is not null and plugin.support is not empty %}
								<a href="{{ plugin.support }}" class="btn btn-primary">{{ lang('Pages.AdminArea.Pages.Plugins.List.Info.Extends.Support') }}</a>
							{% endif %}
							{% if plugin.funding is defined and plugin.funding is not null and plugin.funding is not empty %}
								<a href="{{ plugin.funding }}" class="btn btn-primary">{{ lang('Pages.AdminArea.Pages.Plugins.List.Info.Extends.Funding') }}</a>
							{% endif %}
						</div>
						<br>
						<div class="text-center">
							{% if plugin.enabled == "true" %}
								<button onclick="requireConfirmation('/admin/plugins/{{ plugin.id }}/disable'); $('#modal-{{ plugin.id }}').modal('hide');" class="btn btn-danger">{{ lang('Pages.AdminArea.Pages.Plugins.List.Info.Buttons.Disable') }}</button>
							{% else %}
								<button onclick="requireConfirmation('/admin/plugins/{{ plugin.id }}/enable'); $('#modal-{{ plugin.id }}').modal('hide');" class="btn btn-primary">{{ lang('Pages.AdminArea.Pages.Plugins.List.Info.Buttons.Enable') }}</button>
							{% endif %}
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ lang('Pages.AdminArea.Pages.Plugins.List.Info.Buttons.Close') }}</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
</div>{% endblock %}{% block footer %}
{% include 'requirements/datatables.twig' %}
 <script>$(document).ready(function() {$('.datatables-basic').DataTable({responsive: true,pageLength: 10,lengthMenu: [5, 10, 25, 50, 75, 100]});});</script>{% endblock %}
