<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
	<div class="app-brand demo">
		<a href="/" class="app-brand-link">
			<span class="app-brand-text demo menu-text fw-bold">{{ setting('app', 'name') }}</span>
		</a>

		<a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
			<i class="ti menu-toggle-icon d-none d-xl-block align-middle"></i>
			<i class="ti ti-x d-block d-xl-none ti-md align-middle"></i>
		</a>
	</div>
	<div class="menu-inner-shadow"></div>
	<ul
		class="menu-inner py-1">
		<!-- Dashboards -->
		<li class="menu-header small">
			<span class="menu-header-text">{{lang("Pages.Components.Sidebar.Client.Name") }}</span>
		</li>
		<li class="menu-item">
			<a href="javascript:void(0);" class="menu-link menu-toggle active">
				<i class="menu-icon tf-icons ti ti-smart-home"></i>
				<div>Dashboards</div>
				<div class="badge bg-danger rounded-pill ms-auto">1</div>
			</a>
			<ul class="menu-sub">
				<li class="menu-item active">
					<a href="/" class="menu-link">
						<div>Main</div>
					</a>
				</li>
			</ul>
		</li>


		<!-- Apps & Pages -->
		{% if hasPermission("mythicalframework.admin.sidebar") %}
			<li class="menu-header small">
				<span class="menu-header-text">{{lang("Pages.Components.Sidebar.Admin.Name") }}</span>
			</li>
			<li class="menu-item">
					<a href="/admin/legal" class="menu-link">
						<i class="menu-icon tf-icons ti ti-gavel"></i>
						<div>EULA</div>
					</a>
				</li>
			{% if hasPermission("mythicalframework.admin.api.view") or hasPermission("mythicalframework.admin.api.create") or hasPermission("mythicalframework.admin.api.delete") %}
				<li class="menu-item">
					<a href="/admin/api" class="menu-link">
						<i class="menu-icon tf-icons ti ti-api"></i>
						<div>{{lang('Pages.Components.Sidebar.Admin.Items.API.Title')}}</div>
					</a>
				</li>
			{% endif %}
			{% if hasPermission("mythicalframework.admin.ticket.view") or hasPermission("mythicalframework.admin.ticket.create") or hasPermission("mythicalframework.admin.ticket.reply") or hasPermission("mythicalframework.admin.ticket.delete") %}
				<li class="menu-item">
					<a href="/admin/support" class="menu-link">
						<i class="menu-icon tf-icons ti ti-messages"></i>
						<div>{{lang('Pages.Components.Sidebar.Admin.Items.Support.Title')}}</div>
					</a>
				</li>
			{% endif %}

			{% if hasPermission("mythicalframework.admin.announcements.view") or hasPermission("mythicalframework.admin.announcements.create") or hasPermission("mythicalframework.admin.announcements.edit") or hasPermission("mythicalframework.admin.announcements.delete") %}
				<li class="menu-item">
					<a href="/admin/announcements" class="menu-link">
						<i class="menu-icon tf-icons ti ti-antenna"></i>
						<div>{{lang("Pages.Components.Sidebar.Admin.Items.Announcements.Title")}}</div>
					</a>
				</li>
			{% endif %}

			{% if hasPermission("mythicalframework.admin.backups.view") or hasPermission("mythicalframework.admin.backups.restore") or hasPermission("mythicalframework.admin.backups.create") or hasPermission("mythicalframework.admin.backups.delete") %}
				<li class="menu-item">
					<a href="/admin/backups" class="menu-link">
						<i class="menu-icon tf-icons ti ti-device-floppy"></i>
						<div>{{lang('Pages.Components.Sidebar.Admin.Items.Backups.Title')}}</div>
					</a>
				</li>
			{% endif %}

			{% if hasPermission("mythicalframework.admin.plugins.view") or hasPermission("mythicalframework.admin.plugins.enable") or hasPermission("mythicalframework.admin.plugins.install") or hasPermission("mythicalframework.admin.plugins.uninstall") or hasPermission("mythicalframework.admin.plugins.disable") %}
				<li class="menu-item">
					<a href="/admin/plugins" class="menu-link">
						<i class="menu-icon tf-icons ti ti-plug"></i>
						<div>{{lang('Pages.Components.Sidebar.Admin.Items.Addons.Title')}}</div>
					</a>
				</li>
			{% endif %}
			{% if hasPermission("mythicalframework.admin.logs.view") %}
				<li class="menu-item">
					<a href="/admin/logs" class="menu-link">
						<i class="menu-icon tf-icons ti ti-books"></i>
						<div>{{lang('Pages.Components.Sidebar.Admin.Items.Logs.Title')}}</div>
					</a>
				</li>
			{% endif %}

			{% if hasPermission("mythicalframework.admin.languages.view") or hasPermission("mythicalframework.admin.languages.edit") %}
				<li class="menu-item">
					<a href="/admin/language" class="menu-link">
						<i class="menu-icon tf-icons ti ti-language"></i>
						<div>{{lang("Pages.Components.Sidebar.Admin.Items.Users.Languages.Title")}}</div>
					</a>
				</li>
			{% endif %}
			{% if hasPermission("mythicalframework.admin.users.create") or hasPermission("mythicalframework.admin.users.edit") or hasPermission("mythicalframework.admin.users.delete") or hasPermission("mythicalframework.admin.users.view") %}
				<li class="menu-item">
					<a href="javascript:void(0);" class="menu-link menu-toggle">
						<i class="menu-icon tf-icons ti ti-users"></i>
						<div>{{lang('Pages.Components.Sidebar.Admin.Items.Users.Title') }}</div>
					</a>
					<ul class="menu-sub">
						<li class="menu-item">
							<a href="/admin/users" class="menu-link">
								<div>{{lang('Pages.Components.Sidebar.Admin.Items.Users.Items.List.Title') }}</div>
							</a>
						</li>

						<li class="menu-item">
							<a href="javascript:void(0);" class="menu-link menu-toggle">
								<div>{{lang('Pages.Components.Sidebar.Admin.Items.Users.Items.Other.Title') }}</div>
							</a>
							<ul class="menu-sub">
								<li class="menu-item">
									<a href="/admin/user/activities" class="menu-link">
										<div>{{lang('Pages.Components.Sidebar.Admin.Items.Users.Items.Other.Items.Activities.Title') }}</div>
									</a>
								</li>
								<li class="menu-item">
									<a href="/admin/user/apikeys" class="menu-link">
										<div>{{lang('Pages.Components.Sidebar.Admin.Items.Users.Items.Other.Items.ApiKeys.Title') }}</div>
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</li>
			{% endif %}
			{% if hasPermission("mythicalframework.admin.roles.create") or hasPermission("mythicalframework.admin.roles.edit") or hasPermission("mythicalframework.admin.roles.delete") or hasPermission("mythicalframework.admin.roles.view") or hasPermission("mythicalframework.admin.permissions.create") or hasPermission("mythicalframework.admin.permissions.edit") or hasPermission("mythicalframework.admin.permissions.delete") or hasPermission("mythicalframework.admin.permissions.view") %}
				<li class="menu-item">
					<a href="javascript:void(0);" class="menu-link menu-toggle">
						<i class="menu-icon tf-icons ti ti-lock-open"></i>
						<div>{{lang("Pages.Components.Sidebar.Admin.Items.Users.RolesAndPermissions.Title")}}</div>
					</a>
					<ul class="menu-sub">
						<li class="menu-item">
							<a href="/admin/roles" class="menu-link">
								<div>{{lang("Pages.Components.Sidebar.Admin.Items.Users.RolesAndPermissions.Items.Roles.Title") }}</div>
							</a>
						</li>
						<li class="menu-item">
							<a href="/admin/permissions" class="menu-link">
								<div>{{lang("Pages.Components.Sidebar.Admin.Items.Users.RolesAndPermissions.Items.Permissions.Title")}}</div>
							</a>
						</li>
					</ul>
				</li>
			{% endif %}
			{% if hasPermission("mythicalframework.admin.settings.view") or hasPermission("mythicalframework.admin.settings.edit") %}
				<li class="menu-item">
					<a href="javascript:void(0);" class="menu-link menu-toggle">
						<i class="menu-icon tf-icons ti ti-settings"></i>
						<div>{{lang("Pages.Components.Sidebar.Admin.Items.Users.Settings.Title")}}</div>
					</a>
					<ul class="menu-sub">
						<li class="menu-item">
							<a href="/admin/settings/general" class="menu-link">
								<div>{{lang("Pages.Components.Sidebar.Admin.Items.Users.Settings.Items.General.Title")}}</div>
							</a>
						</li>
						<li class="menu-item">
							<a href="/admin/settings/mails" class="menu-link">
								<div>{{lang("Pages.Components.Sidebar.Admin.Items.Users.Settings.Items.Mail.Title")}}</div>
							</a>
						</li>
						<li class="menu-item">
							<a href="/admin/settings/cloudflare" class="menu-link">
								<div>{{lang("Pages.Components.Sidebar.Admin.Items.Users.Settings.Items.CloudFlare.Title")}}</div>
							</a>
						</li>
						<li class="menu-item">
							<a href="/admin/settings/seo" class="menu-link">
								<div>{{lang("Pages.Components.Sidebar.Admin.Items.Users.Settings.Items.SEO.Title")}}</div>
							</a>
						</li>
						<li class="menu-item">
							<a href="/admin/settings/other" class="menu-link">
								<div>{{lang("Pages.Components.Sidebar.Admin.Items.Users.Settings.Items.Custom.Title")}}</div>
							</a>
						</li>
					</ul>
				</li>
			{% endif %}
		{% endif %}


	</ul>
</aside>
