{% extends 'components/dashboard.twig' %}

{% block head %}{% endblock %}

{% block dashboard %}
	<div class="flex-grow-1 container-p-y container-fluid">
		<div class="row fv-plugins-icon-container">
			<div class="col-md-12">
				{% include 'account/components/navbar.twig' %}
				<div
					class="card mb-6">
					<!-- Account -->
					{% include 'account/components/profile.twig' %}

					<hr
					class="my-0">
					<!-- /Account -->
					<div class="row">
						<h5 class="card-header text-left">&nbsp;&nbsp;&nbsp;{{lang("Pages.Account.ApiKeys.Create.Title")}}</h5>
						<div class="col-md-5 order-md-0 order-1">
							<div class="card-body">
								<form id="formAccountSettingsApiKey" method="POST">
									<div class="row">
										<div class="mb-5 col-12">
											<label for="apiKey" class="form-label">{{lang("Pages.Account.ApiKeys.Create.Form.Name.Label") }}</label>
											<input type="text" class="form-control" id="apiKey" name="apiKey" placeholder="{{lang("Pages.Account.ApiKeys.Create.Form.Name.Placeholder") }}"/>
										</div>
										<div class="mb-5 col-12">
											<label for="apiAccess" class="form-label">{{lang("Pages.Account.ApiKeys.Create.Form.Permissions.Label")}}</label>
											<select id="apiAccess" name="apiAccess" class="select2 form-select form-select-lg">
												<option value="">{{lang("Pages.Account.ApiKeys.Create.Form.Permissions.Placeholder")}}</option>
												<option value="rw">{{lang("Pages.Account.ApiKeys.Create.Form.Permissions.Items.ReadWrite")}}</option>
												<option value="r">{{lang("Pages.Account.ApiKeys.Create.Form.Permissions.Items.ReadOnly")}}</option>
											</select>
										</div>
										{{ csrf_input | raw }}
										<!-- Turnstile -->
										{% if isTurnStileEnabled == true  %}
											<center>
												<div class="cf-turnstile" data-sitekey="{{setting('cloudflare_turnstile', 'sitekey')}}"></div>
											</center>
											<br>
												<br>
											</br>
											<br/>
										{% else %}
											<br>
										{% endif %}
										<div class="col-12">
											<button type="submit" class="btn btn-primary me-2 d-grid w-100">{{lang("Pages.Account.ApiKeys.Create.Form.Submit.Label")}}</button>
										</div>
									</div>
								</form>
							</div>
						</div>
						<div class="col-md-7 order-md-1 order-0">
							<div class="text-center mt-4 mx-3 mx-md-0">
								<img src="/assets/img/illustrations/girl-with-laptop.png" class="img-fluid" alt="Api Key Image" width="202"/>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card mb-6">
				<div class="card-body">
					<h5>{{ lang('Pages.Account.ApiKeys.Create.List.Title') }}</h5>
					<p class="mb-6">
						{{lang("Pages.Account.ApiKeys.Create.List.Description") }}
					</p>
					<div class="row">
						<div class="col-md-12">
							{% for api_key in api_keys %}
								<div class="bg-lighter rounded p-4 position-relative">
									<div class="d-flex align-items-center mb-2">
										<h5 class="mb-0 me-3">{{ api_key.name}}
											({{api_key.id}})</h5>
										<span class="badge bg-label-primary">
											{% if api_key.type == 'rw' %}
												{{ lang('Pages.Account.ApiKeys.Create.Form.Permissions.Items.ReadWrite') }}
											{% elseif api_key.type == 'r' %}
												{{ lang('Pages.Account.ApiKeys.Create.Form.Permissions.Items.ReadOnly') }}
											{% else %}
												{{ lang('Pages.Account.ApiKeys.Create.Form.Permissions.Items.Unknown') }}
											{% endif %}
										</span>
									</div>
									<div class="d-flex align-items-center mb-2">
										<p class="me-3 mb-0 fw-medium">{{ api_key.value}}</p>
										<span class="cursor-pointer">
											<i class="ti ti-copy"></i>
										</span>
									</div>
									<span class="text-muted">{{ lang('Pages.Account.ApiKeys.Create.List.Items.Created') }}
										{{ api_key.date}}</span>
									<div class="position-absolute top-50 end-0 translate-middle-y me-3">
										<button class="btn btn-sm btn-danger" onclick="requireConfirmation('/account/api/{{ api_key.id }}/delete')">
											{{ lang('Pages.Account.ApiKeys.Create.List.Items.Deleted') }}
										</button>
									</div>
								</div>
								<br>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br><br><br><br>

{% endblock %}

{% block footer %}
	{% include 'requirements/datatables.twig' %}

	 <script>
		document.getElementById('formAccountSettingsApiKey').addEventListener('submit', function(event) {		
			const apiKey = document.getElementById('apiKey').value;
			const apiAccess = document.getElementById('apiAccess').value;
	
			if (apiKey === '' || apiAccess === '') {
				Swal.fire({icon: 'error',title: "{{ lang('Alerts.Error.PleaseFillAllFields.Title') }}",text: "{{ lang('Alerts.Error.PleaseFillAllFields.Message') }}"});
				event.preventDefault();
				return;
			}
		});
				</script>
{% endblock %}
