{% extends 'components/dashboard.twig' %}

{% block head %}{% endblock %}

{% block dashboard %}
	<div class="flex-grow-1 container-p-y container-fluid">
		<div class="row fv-plugins-icon-container">
			<div class="col-md-12">
				{% include 'account/components/navbar.twig' %}
				<div
					class="card mb-6">
					<!-- Account -->
					{% include 'account/components/profile.twig' %}

					<hr
					class="my-0">
				<!-- /Account -->

				</div>
			</div>
			<div class="card mb-6">
				<h5 class="card-header">Create an API key</h5>
				<div class="row">
					<div class="col-md-5 order-md-0 order-1">
						<div class="card-body">
							<form id="formAccountSettingsApiKey" method="POST">
								<div class="row">
									<div class="mb-5 col-12">
										<label for="apiKey" class="form-label">Name the API key</label>
										<input type="text" class="form-control" id="apiKey" name="apiKey" placeholder="Server Key 1"/>
									</div>
									<div class="mb-5 col-12">
										<label for="apiAccess" class="form-label">Choose the Api key type you want to create</label>
										<select id="apiAccess" name="apiAccess" class="select2 form-select form-select-lg">
											<option value="">Choose Key Type</option>
											<option value="rw">Read / Write</option>
											<option value="r">Read Only</option>
										</select>
									</div>
									{{ csrf_input | raw }}
									<!-- Turnstile -->
									{% if isTurnStileEnabled == true  %}
										<center>
											<div class="cf-turnstile" data-sitekey="{{setting('cloudflare_turnstile', 'sitekey')}}"></div>
										</center>
										<br>
										<br>
										</br>
										<br/>
									{% else %}
										<br>
									{% endif %}
									<div class="col-12">
										<button type="submit" class="btn btn-primary me-2 d-grid w-100">Create Key</button>
									</div>
								</div>
							</form>
						</div>
					</div>
					<div class="col-md-7 order-md-1 order-0">
						<div class="text-center mt-4 mx-3 mx-md-0">
							<img src="/assets/img/illustrations/girl-with-laptop.png" class="img-fluid" alt="Api Key Image" width="202"/>
						</div>
					</div>
				</div>
			</div>
			<div class="card mb-6">
				<div class="card-body">
					<h5>API Key List & Access</h5>
					<p class="mb-6">
						An API key is a simple encrypted string that identifies an application without any principal. They are useful for accessing public data anonymously, and are used to associate API requests with your project for quota and billing.
					</p>
					<div class="row">
						<div class="col-md-12">
							{% for api_key in api_keys %}
								<div class="bg-lighter rounded p-4 position-relative">
									<div class="d-flex align-items-center mb-2">
										<h5 class="mb-0 me-3">{{ api_key.name}}
											({{api_key.id}})</h5>
										<span class="badge bg-label-primary">
											{% if api_key.type == 'rw' %}
												Read & Write
											{% elseif api_key.type == 'r' %}
												Read
											{% else %}
												Unknown
											{% endif %}
										</span>
									</div>
									<div class="d-flex align-items-center mb-2">
										<p class="me-3 mb-0 fw-medium">{{ api_key.value}}</p>
										<span class="cursor-pointer">
											<i class="ti ti-copy"></i>
										</span>
									</div>
									<span class="text-muted">Created on
										{{ api_key.date}}</span>
									<div class="position-absolute top-50 end-0 translate-middle-y me-3">
										<a href="/account/api/{{api_key.id }}/delete" class="btn btn-sm btn-danger">
											Delete
										</a>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br><br><br><br>
{% endblock %}

{% block footer %}
	 <script>
		document.getElementById('formAccountSettingsApiKey').addEventListener('submit', function(event) {		
			const apiKey = document.getElementById('apiKey').value;
			const apiAccess = document.getElementById('apiAccess').value;
	
			if (apiKey === '' || apiAccess === '') {
				Swal.fire({icon: 'error',title: "{{ lang('Alerts.Error.PleaseFillAllFields.Title') }}",text: "{{ lang('Alerts.Error.PleaseFillAllFields.Message') }}"});
				event.preventDefault();
				return;
			}
		});
	</script>
{% endblock %}
