{% extends 'components/dashboard.twig' %}

{% block head %}{% endblock %}

{% block dashboard %}
	<div class="flex-grow-1 container-p-y container-fluid">
		<div class="row fv-plugins-icon-container">
			<div class="col-md-12">
				{% include 'account/components/navbar.twig' %}
				<div
					class="card mb-6">
					<!-- Account -->
					{% include 'account/components/profile.twig' %}

					<hr
					class="my-0">
					<!-- /Account -->
					<div class="card-datatable table-responsive pt-0">
						<table class="datatables-basic table">
							<thead>
								<tr>
									<th>{{ lang('Pages.Account.Mails.Table.Head.Columns.ID') }}</th>
									<th>{{ lang('Pages.Account.Mails.Table.Head.Columns.Subject') }}</th>
									<th>{{ lang('Pages.Account.Mails.Table.Head.Columns.From') }}</th>
									<th>{{ lang('Pages.Account.Mails.Table.Head.Columns.Date') }}</th>
									<th>{{ lang('Pages.Account.Mails.Table.Head.Columns.Actions') }}</th>
								</tr>
							</thead>
							<tbody>
								{% for email in emails %}
									<tr>
										<td>{{ email.id }}</td>
										<td>{{ email.subject }}</td>
										<td>{{ email.from }}</td>
										<td>{{ email.date }}</td>
										<td>
											<a href="/account/mails/{{ email.id }}/view" target="_new" class="btn btn-sm btn-primary">{{ lang('Pages.Account.Mails.Table.Head.Actions.View') }}</a>
											<button onclick="requireConfirmation('/account/mails/{{ email.id }}/delete')" class="btn btn-sm btn-danger">{{ lang('Pages.Account.Mails.Table.Head.Actions.Delete') }}</button>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br><br><br><br>

{% endblock %}

{% block footer %}
		{% include 'requirements/datatables.twig' %}

	 <script>
				$(document).ready(function() {
					$('.datatables-basic').DataTable({
						responsive: true,
						pageLength: 10,
						lengthMenu: [5, 10, 25, 50, 75, 100]
					});
				});
			</script>
{% endblock %}
