{% extends 'components/dashboard.twig' %}

{% block head %}{% endblock %}

{% block dashboard %}
	<div class="flex-grow-1 container-p-y container-fluid">
		<div class="row fv-plugins-icon-container">
			<div class="col-md-12">
				{% include 'account/components/navbar.twig' %}

				<div
					class="card mb-6">
					<!-- Account -->
					{% include 'account/components/profile.twig' %}

					<hr class="my-0">
					<div class="card-body pt-4">
						<div class="card-body pt-1">
							<form id="formAccountSettings" method="POST" class="fv-plugins-bootstrap5 fv-plugins-framework" novalidate="novalidate">
								<div class="row">
									<div class="mb-6 col-md-6 form-password-toggle fv-plugins-icon-container">
										<label class="form-label" for="currentPassword">{{ lang('Pages.Account.Security.CurrentPassword.Label') }}</label>
										<div class="input-group input-group-merge has-validation">
											<input class="form-control" type="password" name="currentPassword" id="currentPassword" placeholder="{{ lang('Pages.Account.Security.CurrentPassword.Placeholder') }}">
											<span class="input-group-text cursor-pointer">
												<i class="ti ti-eye-off"></i>
											</span>
										</div>
										<div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
									</div>
								</div>
								<div class="row">
									<div class="mb-6 col-md-6 form-password-toggle fv-plugins-icon-container fv-plugins-bootstrap5-row-valid">
										<label class="form-label" for="newPassword">{{ lang('Pages.Account.Security.NewPassword.Label') }}</label>
										<div class="input-group input-group-merge has-validation">
											<input class="form-control" type="password" id="newPassword" name="newPassword" placeholder="{{ lang('Pages.Account.Security.NewPassword.Placeholder') }}">
											<span class="input-group-text cursor-pointer">
												<i class="ti ti-eye-off"></i>
											</span>
										</div>
										<div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
									</div>

									<div class="mb-6 col-md-6 form-password-toggle fv-plugins-icon-container fv-plugins-bootstrap5-row-invalid">
										<label class="form-label" for="confirmPassword">{{ lang('Pages.Account.Security.ConfirmPassword.Label') }}</label>
										<div class="input-group input-group-merge has-validation">
											<input class="form-control" type="password" name="confirmPassword" id="confirmPassword" placeholder="{{ lang('Pages.Account.Security.ConfirmPassword.Placeholder') }}">
											<span class="input-group-text cursor-pointer">
												<i class="ti ti-eye-off"></i>
											</span>
										</div>

									</div>
								</div>
								<h6 class="text-body">{{ lang('Pages.Account.Security.PasswordRequirements.Title') }}</h6>
								<ul class="ps-4 mb-0">
									<li class="mb-4">{{ lang('Pages.Account.Security.PasswordRequirements.Items.Length') }}</li>
									<li class="mb-4">{{ lang('Pages.Account.Security.PasswordRequirements.Items.Uppercase') }}</li>
									<li class="mb-4">{{ lang('Pages.Account.Security.PasswordRequirements.Items.Lowercase') }}</li>
									<li class="mb-4">{{ lang('Pages.Account.Security.PasswordRequirements.Items.Number') }}</li>
									<li class="mb-4">{{ lang('Pages.Account.Security.PasswordRequirements.Items.Special') }}</li>

								</ul>
								{{ csrf_input | raw }}
								<!-- Turnstile -->

								{% if isTurnStileEnabled == true  %}
									<br>
									<div class="cf-turnstile" data-sitekey="{{setting('cloudflare_turnstile', 'sitekey')}}"></div>
									{% else %}
								{% endif %}
								<div class="mt-6">
									<button type="submit" class="btn btn-primary me-3 waves-effect waves-light">{{ lang('Pages.Account.Security.SaveChanges') }}</button>
									<button type="reset" class="btn btn-label-secondary waves-effect">{{ lang('Pages.Account.Security.Reset') }}</button>
								</div>
								<input type="hidden"></form>
						</div>

					</div>
					<!-- /Account -->

				</div>
				<div class="card mb-6">
					<div class="card-body">
						<h5 class="mb-6">{{ lang('Pages.Account.Security.TwoFactor.Title') }}</h5>
						{% if user('2fa_enabled',false) == "false" %}
							<h5 class="mb-4 text-body">{{ lang('Pages.Account.Security.TwoFactor.Disabled.Title') }}</h5>
							<p class="w-75">
								{{ lang('Pages.Account.Security.TwoFactor.Disabled.Description') }}
								<a target="_blank" href="https://en.wikipedia.org/wiki/Multi-factor_authentication">{{ lang('Pages.Account.Security.TwoFactor.Disabled.LearnMore') }}</a>
							</p>
							<a class="btn btn-primary mt-2 waves-effect waves-light" href="/auth/2fa/setup">
								{{lang('Pages.Account.Security.TwoFactor.Enabled.Button') }}
							</a>
						{% else %}
							<h5 class="mb-4 text-body">{{ lang('Pages.Account.Security.TwoFactor.Enabled.Title') }}</h5>
							<p class="w-75">
								{{ lang('Pages.Account.Security.TwoFactor.Enabled.Description') }}
								<a href="https://en.wikipedia.org/wiki/Multi-factor_authentication" target="_blank">{{ lang('Pages.Account.Security.TwoFactor.Enabled.LearnMore') }}</a>
							</p>
							<a class="btn btn-primary mt-2 waves-effect waves-light" href="/auth/2fa/disable">
								{{ lang('Pages.Account.Security.TwoFactor.Disabled.Button') }}
							</a>
						{% endif %}

					</div>
				</div>
			</div>
		</div>
	</div>
	<br><br><br><br>
{% endblock %}

{% block footer %}
<script>
	document.getElementById('formAccountSettings').addEventListener('submit', function(event) {
		event.preventDefault();
		
		var firstPassword = document.getElementById('currentPassword').value;
		var newPassword = document.getElementById('newPassword').value;
		var confirmPassword = document.getElementById('confirmPassword').value;
	
		if ( firstPassword === '' ||  newPassword === '' ||  confirmPassword === '') {
			Swal.fire({
				icon: 'error',
				title: "{{ lang('Alerts.Error.PleaseFillAllFields.Title') }}",
				text: "{{ lang('Alerts.Error.PleaseFillAllFields.Message') }}",
			});
			return false;
		}
	
		if (newPassword !== confirmPassword) {
			Swal.fire({
				icon: 'error',
				title: "{{ lang('Alerts.Error.PasswordsNotTheSame.Title') }}",
				text: "{{ lang('Alerts.Error.PasswordsNotTheSame.Message') }}",
			});
			return false;
		}
		event.target.submit();
	});
</script>
{% endblock %}
