{% extends 'components/dashboard.twig' %}

{% block head %}{% endblock %}

{% block dashboard %}
	<div class="flex-grow-1 container-p-y container-fluid">
		<div class="row fv-plugins-icon-container">
			<div class="col-md-12">
				{% include 'account/components/navbar.twig' %}

				<div
					class="card mb-6">
					<!-- Account -->
					{% include 'account/components/profile.twig' %}

					<hr class="my-0">
					<div class="card-body pt-4">
						<form id="formAccountSettings" method="POST" class="fv-plugins-bootstrap5 fv-plugins-framework" novalidate="novalidate">
							<div class="row">
								<div class="mb-4 col-md-6 fv-plugins-icon-container">
									<label for="firstName" class="form-label">{{ lang('Pages.Account.Settings.Form.FirstName.Label') }}</label>
									<input class="form-control" type="text" id="firstName" required name="firstName" value="{{ user('first_name',true) }}" autofocus="">
									<div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
								</div>
								<div class="mb-4 col-md-6 fv-plugins-icon-container">
									<label for="lastName" class="form-label">{{ lang('Pages.Account.Settings.Form.LastName.Label') }}</label>
									<input class="form-control" type="text" name="lastName" required id="lastName" value="{{ user('last_name',true) }}">
									<div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
								</div>
								<div class="mb-4 col-md-6">
									<label for="email" class="form-label">{{ lang('Pages.Account.Settings.Form.Email.Label') }}</label>
									<input class="form-control" type="text" id="email" name="email" required value="{{ user('email',false) }}" placeholder="{{ user('email',false) }}">
								</div>
								<div class="mb-4 col-md-6">
									<label for="avatar" class="form-label">{{ lang('Pages.Account.Settings.Form.Avatar.Label') }}</label>
									<input type="text" class="form-control" id="avatar" name="avatar" required placeholder="{{ user('avatar',false) }}" value="{{ user('avatar',false) }}">
								</div>
								<div class="mb-4 col-md-6">
									<label for="background" class="form-label">{{ lang('Pages.Account.Settings.Form.Background.Label') }}</label>
									<input class="form-control" type="text" id="background" name="background" required value="{{ user('background',false) }}" placeholder="{{ user('background',false) }}">
								</div>

							</div>
							{{ csrf_input | raw }}
							<!-- Turnstile -->

							{% if isTurnStileEnabled == true  %}
								<center>
									<div class="cf-turnstile" data-sitekey="{{setting('cloudflare_turnstile', 'sitekey')}}"></div>
								</center>
								<br>
							{% else %}
								<br>
							{% endif %}
							<div class="mt-2">
								<button type="submit" class="btn btn-primary me-3 waves-effect waves-light">Save changes</button>
								<button type="reset" class="btn btn-label-secondary waves-effect">Cancel</button>
							</div>
							<input type="hidden"></form>
					</div>
					<!-- /Account -->
				</div>
				<div class="card">
					<h5 class="card-header">{{lang("Pages.Account.Settings.Form.DeactivateAccount.Title") }}</h5>
					<div class="card-body">
						<div class="mb-6 col-12">
							<div class="alert alert-warning">
								<h5 class="alert-heading mb-1">{{ lang('Pages.Account.Settings.Form.DeactivateAccount.Warning.Title') }}</h5>
								<p class="mb-0">{{ lang('Pages.Account.Settings.Form.DeactivateAccount.Warning.Items.First') }}</p>
								<p class="mb-0">{{ lang('Pages.Account.Settings.Form.DeactivateAccount.Warning.Items.Secondary') }}</p>
								<p class="mb-0">{{ lang('Pages.Account.Settings.Form.DeactivateAccount.Warning.Items.Third') }}</p>
								<p class="mb-0">{{ lang('Pages.Account.Settings.Form.DeactivateAccount.Warning.Items.Fourth') }}</p>
								

							</div>
						</div>
						<form id="formAccountDeactivation" onsubmit="return false" class="fv-plugins-bootstrap5 fv-plugins-framework" novalidate="novalidate">
							<div class="form-check my-8">
								<input class="form-check-input" type="checkbox" name="accountActivation" id="accountActivation">
								<label class="form-check-label" for="accountActivation">{{ lang('Pages.Account.Settings.Form.DeactivateAccount.Warning.Confirm') }}</label>
								<div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
							</div>
							<button type="submit" class="btn btn-danger deactivate-account waves-effect waves-light" disabled="">
								{{ lang('Pages.Account.Settings.Form.DeactivateAccount.Warning.Button') }}
							</button>
							<script>
							document.getElementById('accountActivation').addEventListener('change', function() {
								var deactivateButton = document.querySelector('.deactivate-account');
								deactivateButton.disabled = !this.checked;
							});
							</script>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br><br><br><br>
{% endblock %}

{% block footer %}
	 <script>
	document.getElementById('formAccountSettings').addEventListener('submit', function(event) {
		event.preventDefault();
		var firstName = document.getElementById('firstName').value;
		var lastName = document.getElementById('lastName').value;
		var email = document.getElementById('email').value;
		var avatar = document.getElementById('avatar').value;
		var background = document.getElementById('background').value;
	
		if ( firstName === '' ||  lastName === '' ||  lastName === '' ||  email === '' ||  avatar === '' ||  background === '' ) {
			Swal.fire({
				icon: 'error',
				title: "{{ lang('Alerts.Error.PleaseFillAllFields.Title') }}",
				text: "{{ lang('Alerts.Error.PleaseFillAllFields.Message') }}",
			});
			return false;
		}
	
	
		event.target.submit();
	});
	</script>

{% endblock %}
