{% extends 'components/dashboard.twig' %}
{% block head %}{% endblock %}
{% block dashboard %}
	<div
		class="row">
		<!-- User Sidebar -->
		<div
			class="col-xl-4 col-lg-5 order-1 order-md-0">
			<!-- User Card -->
			<div class="card mb-6">
				<div class="card-body pt-12">
					<div class="user-avatar-section">
						<div class="d-flex align-items-center flex-column">
							<img class="img-fluid rounded mb-4" src="{{other_info('avatar',false) }}" height="120" width="120" alt="User avatar"/>
							<div class="user-info text-center">
								<h5>{{other_info('first_name',true) }}
									{{other_info('last_name',true) }}</h5>
								<span class="badge bg-label-secondary">{{getRoleName(other_info('role',false))}}</span>
							</div>
						</div>
					</div>
					<div class="d-flex justify-content-around flex-wrap my-6 gap-0 gap-md-3 gap-lg-4">
						<!--<div class="d-flex align-items-center me-5 gap-4">
							<div class="avatar">
								<div class="avatar-initial bg-label-primary rounded">
									<i class="ti ti-checkbox ti-lg"></i>
								</div>
							</div>
							<div>
								<h5 class="mb-0">1.23k</h5>
								<span>Task Done</span>
							</div>
						</div>
						<div class="d-flex align-items-center gap-4">
							<div class="avatar">
								<div class="avatar-initial bg-label-primary rounded">
									<i class="ti ti-briefcase ti-lg"></i>
								</div>
							</div>
							<div>
								<h5 class="mb-0">568</h5>
								<span>Project Done</span>
							</div>
						</div>-->
					</div>
					<h5 class="pb-4 border-bottom mb-4">Details</h5>
					<div class="info-container">
						<ul class="list-unstyled mb-6">
							<li class="mb-2">
								<span class="h6">Username:</span>
								<span>@{{other_info('username',false) }}</span>
							</li>
							<li class="mb-2">
								<span class="h6">Email:</span>
								<span>{{other_info('email',false) }}</span>
							</li>
							<li class="mb-2">
								<span class="h6">Verified:</span>
								<span>{{other_info('verified',false) }}</span>
							</li>
                            <li class="mb-2">
								<span class="h6">Banned:</span>
								<span>{{other_info('banned',false) }}</span>
							</li>
                            <li class="mb-2">
								<span class="h6">2FA:</span>
								<span>{{other_info('2fa_enabled',false) }}</span>
							</li>
							<li class="mb-2">
								<span class="h6">Role:</span>
								<span>{{getRoleName(other_info('role',false))}}</span>
							</li>
							<li class="mb-2">
								<span class="h6">First / Last IP:</span>
								<span><code>{{other_info('first_ip', true)}}</code> / <code>{{other_info('last_ip', true)}}</code></span>
							</li>
							<li class="mb-2">
								<span class="h6">First / Last Seen:</span>
								<span><code>{{other_info('first_seen', false)}}</code> / <code>{{other_info('last_seen', false)}}</code></span>
							</li>
						</ul>
						<div class="d-flex justify-content-center">
							<a href="javascript:;" class="btn btn-primary me-4" data-bs-target="#editUser" data-bs-toggle="modal">Edit</a>
							<a href="javascript:;" class="btn btn-label-danger suspend-user">Suspend</a>
						</div>
					</div>
				</div>
			</div>
			<!-- /User Card -->
		</div>
		<!--/ User Sidebar -->

		<!-- User Content -->
		<div
			class="col-xl-8 col-lg-7 order-0 order-md-1">
			<!-- User Pills -->
			<div class="nav-align-top">
				<ul class="nav nav-pills flex-column flex-md-row flex-wrap mb-6 row-gap-2">
					<li class="nav-item">
						<a class="nav-link active" href="javascript:void(0);">
							<i class="ti ti-user-check ti-sm me-1_5"></i>Account & Activity</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="app-user-view-security.html">
							<i class="ti ti-lock ti-sm me-1_5"></i>Security</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="app-user-view-billing.html">
							<i class="ti ti-bookmark ti-sm me-1_5"></i>Billing & Plans</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="app-user-view-notifications.html">
							<i class="ti ti-bell ti-sm me-1_5"></i>Notifications</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="app-user-view-connections.html">
							<i class="ti ti-link ti-sm me-1_5"></i>Connections</a>
					</li>
				</ul>
			</div>
			<!--/ User Pills -->

			<!-- Activity table -->
			<div class="card mb-6">
				<div class="card-datatable table-responsive">
					<table class="datatables-basic table border-top">
						<thead>
							<tr>
								<th>ID</th>
								<th>Action</th>
								<th>Description</th>
								<th>IP Address</th>
								<th>Date</th>
							</tr>
						</thead>
                        <tbody>
							{% for activity in user_activity %}
							<tr>
								<td>{{activity.id}}</td>
								<td>{{activity.action}}</td>
								<td>{{activity.description}}</td>
								<td>{{activity.ip_address}}</td>
								<td>{{activity.date}}</td>
							</tr>
                            {% endfor %}
                        </tbody>
					</table>
				</div>
			</div>
			<!-- /Activity table -->
		</div>
		<!--/ User Content -->
	</div>

	<!-- Modal -->
	<!-- Edit User Modal -->
	<div class="modal fade" id="editUser" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog modal-lg modal-simple modal-edit-user">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					<div class="text-center mb-6">
						<h4 class="mb-2">Edit User Information</h4>
						<p>Updating user details will receive a privacy audit.</p>
					</div>
					<form id="editUserForm" class="row g-6" onsubmit="return false">
						<div class="col-12 col-md-6">
							<label class="form-label" for="firstname">First Name</label>
							<input type="text" id="firstname" name="firstname" class="form-control" placeholder="{{other_info('first_name',true) }}" value="{{other_info('first_name',true) }}"/>
						</div>
						<div class="col-12 col-md-6">
							<label class="form-label" for="lastname">Last Name</label>
							<input type="text" id="lastname" name="lastname" class="form-control" placeholder="{{other_info('last_name',true) }}" value="{{other_info('last_name',true) }}"/>
						</div>
						<div class="col-12">
							<label class="form-label" for="email">Email</label>
							<input type="text" id="email" name="email" class="form-control" placeholder="{{other_info('email',false) }}" value="{{other_info('email',false) }}"/>
						</div>
						<div class="col-12 col-md-6">
							<label class="form-label" for="modalEditUserRole">Role</label>
							<select id="modalEditUserRole" name="modalEditUserRole" class="select2 form-select" aria-label="Default select example">
								<option active value="{{other_info('role',false)}}">{{getRoleName(other_info('role',false))}} (X)</option>
								{% for role in roles %}
									<option value="{{role.id}}">{{role.name}}</option>
								{% endfor %}
							</select>
						</div>
						<div class="col-12 col-md-6">
							<label class="form-label" for="modalEditUserStatus">Status</label>
							<select id="modalEditUserStatus" name="modalEditUserStatus" class="select2 form-select" aria-label="Default select example">
								<option value="1">Active</option>
								<option value="2">Inactive</option>
								<option value="3">Suspended</option>
							</select>
						</div>
                        <br>
                        {% if isTurnStileEnabled == true  %}
								<center><div class="cf-turnstile" data-sitekey="{{setting('cloudflare_turnstile', 'sitekey')}}"></div></center>
							<br>
						{% else %}
							<br>
						{% endif %}
						<div class="col-12 text-center">
							<button type="submit" class="btn btn-primary me-3">Submit</button>
							<button type="reset" class="btn btn-label-secondary" data-bs-dismiss="modal" aria-label="Close">
								Cancel
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!--/ Edit User Modal -->

{% endblock %}
{% block footer %}
	{% include 'requirements/datatables.twig' %}
	 <script>$(document).ready(function() {$('.datatables-basic').DataTable({responsive: true,pageLength: 10,lengthMenu: [5, 10, 25, 50, 75, 100]});});</script>
{% endblock %}
