<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
<link rel="icon" href="{{ setting('app','logo') }}">
<meta name="twitter:image" content="{{ setting('app','logo') }}">
<meta property="og:image" content="{{ setting('app','logo') }}">
<meta name="twitter:card" content="summary">
<meta name="twitter:description" content="{{ setting('seo','description') }}">
<meta property="og:description" content="{{ setting('seo','description') }}">
<meta name="description" content="{{ setting('seo','description') }}">
<meta property="og:title" content="{{ setting('seo','title') }}">
<meta name="twitter:title" content="{{ setting('seo','title') }}">
<meta name="keywords" content="{{ setting('seo','keywords') }}"/>
<meta name="author" content="MythicalSystems LTD"/>
<title>{{ setting('app','name') }}
	-
	{{ page_name }}</title>
 <script src="/assets/third_party/JQuery/jquery-3.7.1.min.js"></script>
<link
href="/assets/third_party/SweetAlert2/sweetalert2.min.css" rel="stylesheet">
 <script src="/assets/third_party/js-yaml.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com"/>
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
<link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&ampdisplay=swap" rel="stylesheet"/>
<link rel="stylesheet" href="/assets/vendor/fonts/fontawesome.css"/>
<link rel="stylesheet" href="/assets/vendor/fonts/tabler-icons.css"/>
<link rel="stylesheet" href="/assets/vendor/fonts/flag-icons.css"/>
<link rel="stylesheet" href="/assets/vendor/css/rtl/core.css" class="template-customizer-core-css"/>
<link rel="stylesheet" href="/assets/vendor/css/rtl/theme-default.css" class="template-customizer-theme-css"/>
<link rel="stylesheet" href="/assets/css/demo.css"/>
<link rel="stylesheet" href="/assets/vendor/libs/node-waves/node-waves.css"/>
<link rel="stylesheet" href="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css"/>
<link rel="stylesheet" href="/assets/vendor/libs/typeahead-js/typeahead.css"/>
<link rel="stylesheet" href="/assets/vendor/libs/@form-validation/form-validation.css"/>
<link rel="stylesheet" href="/assets/vendor/libs/datatables-bs5/datatables.bootstrap5.css">
<link rel="stylesheet" href="/assets/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css">
<link rel="stylesheet" href="/assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css">
<link rel="stylesheet" href="/assets/vendor/libs/select2/select2.css"/>
 <script src="/assets/vendor/js/helpers.js"></script>
 <script src="/assets/vendor/js/template-customizer.js"></script>
 <script src="/assets/js/config.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.12.4/dist/sweetalert2.all.min.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>
{% if isTurnStileEnabled == true %}
	 <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
{% endif %}
<link rel="manifest" href="/manifest.webmanifest">