<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="icon" href="{{ setting('app','logo') }}">
		<meta name="twitter:image" content="{{ setting('app','logo') }}">
		<meta property="og:image" content="{{ setting('app','logo') }}">
		<meta name="twitter:card" content="summary">
		<meta name="twitter:description" content="{{ setting('seo','description') }}">
		<meta property="og:description" content="{{ setting('seo','description') }}">
		<meta name="description" content="{{ setting('seo','description') }}">
		<meta property="og:title" content="{{ setting('seo','title') }}">
		<meta name="twitter:title" content="{{ setting('seo','title') }}">
		<meta name="keywords" content="{{ setting('seo','keywords') }}" />
		<meta name="author" content="MythicalSystems LTD" />

		<link href="/style.css" rel="stylesheet">
		<title>{{ setting('app','name') }} - {{ page_name }}</title>

		{% block head %}{% endblock %}
	</head>

	<body
		x-data="{ page: 'signup', 'loaded': true, 'darkMode': true, 'stickyMenu': false, 'sidebarToggle': false, 'scrollTop': false }" x-init=" darkMode = JSON.parse(localStorage.getItem('darkMode')); $watch('darkMode', value => localStorage.setItem('darkMode', JSON.stringify(value)))" :class="{'dark text-bodydark bg-boxdark-2': darkMode === true}">
		<!-- ===== Preloader Start ===== -->
		{% include 'components/preloader.twig' %}
		<!-- ===== Preloader End ===== -->

		<!-- ===== Page Wrapper Start ===== -->
			<div
			class="flex h-screen overflow-hidden"> <!-- ===== Sidebar Start ===== -->
			{% include 'components/sidebar.twig' %}
			<!-- ===== Sidebar End ===== -->

			<!-- ===== Content Area Start ===== -->
				<div
				class="relative flex flex-1 flex-col overflow-y-auto overflow-x-hidden"> <!-- ===== Header Start ===== -->
				{% include 'components/header.twig' %}

				<!-- ===== Header End ===== -->

				<!-- ===== Main Content Start ===== -->
					<main>
						<div
						class="mx-auto max-w-screen-2xl p-4 md:p-6 2xl:p-10"> <!-- Breadcrumb Start -->
						<div class="mb-6 flex flex-col gap-3 sm:flex-row sm:items-center sm:justify-between">
							<h2 class="text-title-md2 font-bold text-black dark:text-white">
								{{ page_name }}
							</h2>

							<nav>
								<ol class="flex items-center gap-2">
									<li>
										<a class="font-medium" href="/dashboard">Dashboard /</a>
									</li>
									<li class="font-medium text-primary">{{ page_name  }}</li>
								</ol>
							</nav>
						</div>
						<!-- Breadcrumb End -->

						{% block content %}{% endblock %}
					</div>
				</main>
				<!-- ===== Main Content End ===== -->
			</div>
			<!-- ===== Content Area End ===== -->
		</div>
		<!-- ===== Page Wrapper End ===== -->
		 <script defer src="/bundle.js"></script>
		{% block footer %}{% endblock %}
	</body>
</html>
